body {	
    border-top: 3px solid #0099CC;
}

.center {
  text-align: center;
}

.highlight {
  margin: 0 inherit;
}

.highlight img{
  margin-bottom: 10px;
}

ol {
  list-style: none;
}